{{#extend "layouts/main"}}
    {{#content "body"}}
        <div class="container">
            <h2>Our Tutors</h2>
            <!-- Tutors listing or content -->
        </div>
    {{/content}}
{{/extend}}
