{{!-- {{#extend "layouts/main"}} --}}
{{!-- {{#content 'body'}} --}}
<div class='container'>
  <h2>User Profile</h2>
  <!-- User profile information or content -->
</div>
{{!-- {{/content}} --}}
{{!-- {{/extend}} --}}