<div class='hero text-center'>
  <div class='container'>
    <h1>Welcome to TutorQuest</h1>
    <p>Empowering students to achieve their academic goals with personalized
      tutoring sessions.</p>
  </div>
</div>
<div class='main-content'>
  <div class='container'>
    <p>Ready to embark on your quest for knowledge? Sign up now!</p>
    <form action='/signup'>
      <button type='submit' value='Go to signup.handlebars'>Sign Up</button>
    </form>
  </div>
</div>