<div class='container'>
  <h2>Sign Up</h2>
  <form action='/api/users/new' method='POST'>
    <div class="row mt-4">
  <div class="col-md-6">
    <form class="form new-user-form">
      <div class="form-group">
        <label for="user-name">Name:</label>
        <input class="form-input" type="text" id="user-name" name="user-name" />
      </div>
      <div class="form-group">
        <label for="user-email">Email:</label>
        <input class="form-input" type="text" id="user-email" name="user-email" />
      </div>
      <div class="form-group">
        <label for="user-password">Password:</label>
        <input type="password" class="form-input" id="user-password" name="user-password"></textarea>
      </div>
      <div class='form-group'>
      <label for='userType'>Sign up as:</label>
      <select class='form-control' id='userType' name='userType' required>
        <option value='selected disabled'>Select user type</option>
        <option value="1">Student</option>
        <option value="2">Tutor</option>
      </select>
    </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  </form>
</div>